.header-logo {
  .first-word {
    color: black;
    font-weight: bold;
    font-family: cursive;
    text-transform: capitalize;
  }
  .last-word {
    color: gray;
    font-weight: bold;
    font-family: cursive;
    text-transform: capitalize;
  }
}
