.widget_shop {
    padding: 25px 20px;
    background-color: #eeebeb;
}

.widget_shop .widget-title {
    margin-bottom: 25px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
}
.header ol, .header ul, .navigation--sidebar ol, .navigation--sidebar ul, .ps-best-sale-brands ol, .ps-best-sale-brands ul, .ps-block--categories-box ol, .ps-block--categories-box ul, .ps-block--category-2 ol, .ps-block--category-2 ul, .ps-block--menu-categories .ps-block__content ol, .ps-block--menu-categories .ps-block__content ul, .ps-block--ourteam ol, .ps-block--ourteam ul, .ps-block--product-box ol, .ps-block--product-box ul, .ps-block--products-of-category .ps-block__categories ol, .ps-block--products-of-category .ps-block__categories ul, .ps-block--shopping-total ol, .ps-block--shopping-total ul, .ps-block--store ol, .ps-block--store ul, .ps-block--vendor-filter ol, .ps-block--vendor-filter ul, .ps-blog .ps-blog__header ol, .ps-blog .ps-blog__header ul, .ps-deal-of-day ol, .ps-deal-of-day ul, .ps-form--account ol, .ps-form--account ul, .ps-my-account-2 ol, .ps-my-account-2 ul, .ps-page--comming-soon ol, .ps-page--comming-soon ul, .ps-panel--sidebar ol, .ps-panel--sidebar ul, .ps-product--detail .ps-product__countdown figure ol, .ps-product--detail .ps-product__countdown figure ul, .ps-product--hot-deal .ps-product__header ol, .ps-product--hot-deal .ps-product__header ul, .ps-product--photo ol, .ps-product--photo ul, .ps-product-list ol, .ps-product-list ul, .ps-product ol, .ps-product ul, .ps-shopping .ps-shopping__header ol, .ps-shopping .ps-shopping__header ul, .ps-store-list .ps-store-link ol, .ps-store-list .ps-store-link ul, .ps-widget--account-dashboard .ps-widget__content ol, .ps-widget--account-dashboard .ps-widget__content ul, .widget--blog ol, .widget--blog ul, .widget--vendor ol, .widget--vendor ul, .widget_category ol, .widget_category ul, .widget_footer ol, .widget_footer ul, .widget_shop ol, .widget_shop ul, .widget_sidebar ol, .widget_sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget {
    position: relative;
    padding-bottom: auto;
    margin-bottom: 20px;
}
body {
    color: rgba(0,0,0,.65);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: "tnum","tnum";
    font-weight: 400;
}
body {
    font-size: 14px;
}

div {
    display: block;
}
[class^=icon-] {
    font-family: Linearicons;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga",normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ps-list--categories li a {
    display: block;
    line-height: 25px;
    text-transform: uppercase;
}

.image-cover-h100{
    height: 100%;
    object-fit: cover;
}

.features{
    border: 1px solid #d9d9d9;
    padding: 2.25rem;
    margin: 0 2.5rem;
}

.category-view{
    margin: 2.5rem;
    h3{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1em;
        color: #000;
        font-weight: 600;
    }
    .card-block{
        margin-bottom: 30px;
        padding: 20px 10px;
        text-align: center;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        border: 1px solid #bfbfbf;
        width: 11.5rem;
        height: 14.25rem;
    }
    .card-block:hover{
        border-color: #fcb800;
    }
    .card-block:hover p{
        color: #09c;
    }
}

.capitalize{
    text-transform: capitalize;
}

.category-item-listing{
   
    .header{
        padding: 16px 20px;
        background-color: #f4f4f4;
        border-bottom: 1px solid #e3e3e3;
        display: flex;
        justify-content: space-between;
        .header-menu{
            :hover{
                color: #fcb800;
                cursor: pointer;
            }
        }
    }
    .cat-item{
        padding: 20px 20px 0;
        border: 1px solid transparent;
        max-width: 16rem;
        height: 23rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .vendor-name{
            text-transform: uppercase;
            border-bottom: 1px solid #06c;
        }
        .vendor-name:hover{
            border-bottom: 1px solid #fcb800;
        }
        .service-name{
            color: #06c;
        }
        .service-name:hover{
            color: #fcb800;
        }
        .service-image{
            object-fit: cover;
            width: 100%;
            height: 65%;
        }
    }
    .cat-item:hover{
        border-color: silver;
        border-bottom:1px solid silver;
    }
}
a, button, input, select, textarea {
    outline: none;
}
a {
    position: relative;
    text-decoration: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

a {
    position: relative;
    text-decoration: none;
    transition: all .4s ease;
}
a, p span {
    color: inherit;
}
.ps-list--categories li {
    position: relative;
    padding: 7px 20px 7px 0;
}

.header ol, .header ul, .navigation--sidebar ol, .navigation--sidebar ul, .ps-best-sale-brands ol, .ps-best-sale-brands ul, .ps-block--categories-box ol, .ps-block--categories-box ul, .ps-block--category-2 ol, .ps-block--category-2 ul, .ps-block--menu-categories .ps-block__content ol, .ps-block--menu-categories .ps-block__content ul, .ps-block--ourteam ol, .ps-block--ourteam ul, .ps-block--product-box ol, .ps-block--product-box ul, .ps-block--products-of-category .ps-block__categories ol, .ps-block--products-of-category .ps-block__categories ul, .ps-block--shopping-total ol, .ps-block--shopping-total ul, .ps-block--store ol, .ps-block--store ul, .ps-block--vendor-filter ol, .ps-block--vendor-filter ul, .ps-blog .ps-blog__header ol, .ps-blog .ps-blog__header ul, .ps-deal-of-day ol, .ps-deal-of-day ul, .ps-form--account ol, .ps-form--account ul, .ps-my-account-2 ol, .ps-my-account-2 ul, .ps-page--comming-soon ol, .ps-page--comming-soon ul, .ps-panel--sidebar ol, .ps-panel--sidebar ul, .ps-product--detail .ps-product__countdown figure ol, .ps-product--detail .ps-product__countdown figure ul, .ps-product--hot-deal .ps-product__header ol, .ps-product--hot-deal .ps-product__header ul, .ps-product--photo ol, .ps-product--photo ul, .ps-product-list ol, .ps-product-list ul, .ps-product ol, .ps-product ul, .ps-shopping .ps-shopping__header ol, .ps-shopping .ps-shopping__header ul, .ps-store-list .ps-store-link ol, .ps-store-list .ps-store-link ul, .ps-widget--account-dashboard .ps-widget__content ol, .ps-widget--account-dashboard .ps-widget__content ul, .widget--blog ol, .widget--blog ul, .widget--vendor ol, .widget--vendor ul, .widget_category ol, .widget_category ul, .widget_footer ol, .widget_footer ul, .widget_shop ol, .widget_shop ul, .widget_sidebar ol, .widget_sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.widget_shop .ant-slider .ant-slider-rail {
    background-color: #e4e4e4;
}

.ant-slider-rail, .ant-slider-track {
    position: absolute;
    height: 4px;
    border-radius: 2px;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}
.ant-slider-rail {
    width: 100%;
    background-color: #f5f5f5;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    font-family: Work Sans,sans-serif;
    font-weight: 400;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.ant-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    height: 12px;
    margin: 10px 6px;
    padding: 4px 0;
    cursor: pointer;
    touch-action: none;
}


body {
    font-size: 14px;
}

.ant-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    height: 12px;
    margin: 10px 6px;
    padding: 4px 0;
    cursor: pointer;
    touch-action: none;
}
.ant-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
}
[class*=ant-], [class*=ant-] *, [class*=ant-] :after, [class*=ant-] :before, [class^=ant-], [class^=ant-] *, [class^=ant-] :after, [class^=ant-] :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    font-family: Work Sans,sans-serif;
    font-weight: 400;
}
*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.ant-slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum","tnum";
    position: relative;
    height: 12px;
    margin: 10px 6px;
    padding: 4px 0;
    cursor: pointer;
    touch-action: none;
}
.ps-shopping .ps-shopping__actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.ps-shopping .ps-shopping__header {
  
    margin-right: 30px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #e4e4e4;
    align-items: center;
    padding: 16px 15px;
   
  
}

.ps-shopping .ps-shopping__actions .form-control {
    height: 40px;
    background-color: #fff;
}

.form-control {
    outline: none;
    font-size: 14px;
    padding: 0 20px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 0;
    -webkit-box-shadow: 0 0 transparent;
    box-shadow: 0 0 transparent;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-box-shadow: 0 0 0 #000;
    box-shadow: 0 0 0 #000;
}


.ps-shopping .ps-shopping__actions .ps-shopping__view {
    padding-left: 40px;
}
.ps-shopping .ps-shopping__view {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.ps-shopping .ps-shopping__header p {
    display: inline-block;
}
p {
    margin-top: 0;
 
}

.ps-shopping .ps-shopping__view ul li {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.header ol, .header ul, .navigation--sidebar ol, .navigation--sidebar ul, .ps-best-sale-brands ol, .ps-best-sale-brands ul, .ps-block--categories-box ol, .ps-block--categories-box ul, .ps-block--category-2 ol, .ps-block--category-2 ul, .ps-block--menu-categories .ps-block__content ol, .ps-block--menu-categories .ps-block__content ul, .ps-block--ourteam ol, .ps-block--ourteam ul, .ps-block--product-box ol, .ps-block--product-box ul, .ps-block--products-of-category .ps-block__categories ol, .ps-block--products-of-category .ps-block__categories ul, .ps-block--shopping-total ol, .ps-block--shopping-total ul, .ps-block--store ol, .ps-block--store ul, .ps-block--vendor-filter ol, .ps-block--vendor-filter ul, .ps-blog .ps-blog__header ol, .ps-blog .ps-blog__header ul, .ps-deal-of-day ol, .ps-deal-of-day ul, .ps-form--account ol, .ps-form--account ul, .ps-my-account-2 ol, .ps-my-account-2 ul, .ps-page--comming-soon ol, .ps-page--comming-soon ul, .ps-panel--sidebar ol, .ps-panel--sidebar ul, .ps-product--detail .ps-product__countdown figure ol, .ps-product--detail .ps-product__countdown figure ul, .ps-product--hot-deal .ps-product__header ol, .ps-product--hot-deal .ps-product__header ul, .ps-product--photo ol, .ps-product--photo ul, .ps-product-list ol, .ps-product-list ul, .ps-product ol, .ps-product ul, .ps-shopping .ps-shopping__header ol, .ps-shopping .ps-shopping__header ul, .ps-store-list .ps-store-link ol, .ps-store-list .ps-store-link ul, .ps-widget--account-dashboard .ps-widget__content ol, .ps-widget--account-dashboard .ps-widget__content ul, .widget--blog ol, .widget--blog ul, .widget--vendor ol, .widget--vendor ul, .widget_category ol, .widget_category ul, .widget_footer ol, .widget_footer ul, .widget_shop ol, .widget_shop ul, .widget_sidebar ol, .widget_sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ps-shopping .ps-shopping__actions .ps-tab-list {
    display: flex;
    flex-flow: row nowrap;
}
p {
 

    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
p {
    font-size: 1.1rem;
    line-height: 1.6em;

}
.ps-container {
    padding: 0 30px;
    max-width: 100%;
}
.ps-shopping .ps-shopping__header p {
    margin-bottom: 0;
    display: inline-block;
}

.ps-page--shop .ps-shopping {
    padding-bottom: 80px;
}

a {
    background-color: transparent;
 
}


* {
    font-family: Work Sans,sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    position: relative;
    color: #000;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
}

.ps-block--shop-features .ps-block__navigation a {
    display: inline-block;
    margin-right: 10px;
    color: #999;
}
.ps-block--shop-features .ps-block__navigation a:last-child {
    margin-right: 0;
}
.ps-block--shop-features .ps-block__header h3 {
    font-weight: 400;
    font-size: 24px;
    color: #000;
}
.ps-block--shop-features .ps-block__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #b6a6a6;
}

.category-item-listing{
    margin: 2.5rem;
    .header{
        padding: 16px 20px;
        background-color: #f4f4f4;
        border-bottom: 1px solid #e3e3e3;
        display: flex;
        justify-content: space-between;
        .header-menu{
            :hover{
                color: #fcb800;
                cursor: pointer;
            }
        }
    }
    .cat-item{
        padding: 20px 20px 0;
        border: 1px solid transparent;
        max-width: 16rem;
        height: 23rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        .vendor-name{
            text-transform: uppercase;
            border-bottom: 1px solid #e1e1e1;
        }
        .service-name{
            color: #06c;
        }
        .service-name:hover{
            color: #fcb800;
        }
        .service-image{
            object-fit: cover;
            width: 100%;
            height: 65%;
        }
    }
    .cat-item:hover{
        border-color: rgb(223, 59, 59);
        border-bottom:1px solid silver;
    }
}



body {
    color: rgba(66, 57, 57, 0.65);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-variant: tabular-nums;
    font-variant-ligatures: normal;
    font-variant-numeric: tabular-nums;
    font-variant-east-asian: normal;
    font-variant-caps: normal;
    font-variant-alternates: normal;
    line-height: 1.5715;
    background-color: #f5eeee;
    font-feature-settings: "tnum","tnum";
}   
.ps-layout--shop {
    position: relative;
  right: 10px; /* Adjust the value as needed */
    margin-top: 3%;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row nowrap;
}


body {
    color: rgba(0,0,0,.65);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-variant: tabular-nums;
    line-height: 1.5715;
    background-color: #fff;
    font-feature-settings: "tnum","tnum";
}

.ps-layout--shop>* {
    width: 100%;
}

.ps-layout--shop {
    padding-bottom: 90px;
    display: flex;
    flex-flow: row nowrap;
}
.ps-layout--shop .ps-layout__left {
    width: 100%;
    min-width: 280px;
    max-width: 290px;
    padding-right: 30px;
}
.grid-container {
    border: 1px solid #e0e0e0; /* Add a 1px solid border */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
    padding: 16px; /* Add some padding for spacing */
  }



